# Local work folders
archive/
uploads/
workbench/
backups/

# Backup folders
keycloak-db-backups/
directus-db-backups/
directus-db-backups-manual/
keycloak-db-backups-manual/

# For habidat (old)
docker/
habidat/

# Directus
directus/database/
directus/uploads/*
keycloak/export
keycloak/imported/imported.flag

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# ignore cache
.eslintcache