version: "3"

services:
  directus:
    image: directus/directus:10.8.3
    ports:
      - 8055:8055
    volumes:
      - ./directus/database:/directus/database
      - ./directus/extensions:/directus/extensions
      - ./directus/uploads:/directus/uploads
    links:
      - keycloak
    depends_on:
      keycloak:
        condition: service_healthy
      directus-db:
        condition: service_healthy
    environment:
      KEY: "0fda9121-269d-44bd-91f2-4ff05be14b4b"
      SECRET: "86cb4a76-a4c6-4ce7-8181-b0445d95675c"

      ADMIN_EMAIL: ${NUXT_DIRECTUS_ADMIN_EMAIL}
      ADMIN_PASSWORD: ${NUXT_DIRECTUS_ADMIN_PASSWORD}

      CORS_ENABLED: "true"
      CORS_ORIGIN: "true"
      EXTENSIONS_AUTO_RELOAD: "true"

      DB_CLIENT: "pg"
      DB_HOST: "directus-db"
      DB_PORT: "5432"
      DB_DATABASE: "directus"
      DB_USER: "directus"
      DB_PASSWORD: ${DIRECTUS_DB_PASSWORD}

      CACHE_ENABLED: "false"
      CACHE_STORE: "redis"
      REDIS: "redis://directus-cache:6379"

      PUBLIC_URL: "http://localhost:8055"

      AUTH_PROVIDERS: "keycloak"
      AUTH_KEYCLOAK_DRIVER: "openid"
      AUTH_KEYCLOAK_CLIENT_ID: "directus"
      AUTH_KEYCLOAK_CLIENT_SECRET: "vaV2eFjJxkCm2iqUPAplGh7J7mjR4ZsL"
      AUTH_KEYCLOAK_URL: "http://keycloak:8080/"
      AUTH_KEYCLOAK_REALM: "collectivo"
      AUTH_KEYCLOAK_ISSUER_URL: "http://keycloak:8080/realms/collectivo/.well-known/openid-configuration"
      AUTH_KEYCLOAK_IDENTIFIER_KEY: "email"
      AUTH_KEYCLOAK_ALLOW_PUBLIC_REGISTRATION: "true"
      # AUTH_KEYCLOAK_DEFAULT_ROLE_ID:
      FLOWS_ENV_ALLOW_LIST: "AUTH_KEYCLOAK_DRIVER,AUTH_KEYCLOAK_CLIENT_ID,AUTH_KEYCLOAK_CLIENT_SECRET,AUTH_KEYCLOAK_URL"

      REFRESH_TOKEN_COOKIE_SECURE: "false"
      REFRESH_TOKEN_COOKIE_SAME_SITE: "lax"

      LOG_LEVEL: "debug"

      # EMAIL_VERIFY_SETUP: true
      # EMAIL_FROM: ${DIRECTUS_EMAIL_FROM}
      # EMAIL_TRANSPORT: ${DIRECTUS_EMAIL_TRANSPORT}
      # EMAIL_SMTP_HOST: ${DIRECTUS_EMAIL_SMTP_HOST}
      # EMAIL_SMTP_PORT: ${DIRECTUS_EMAIL_SMTP_PORT}
      # EMAIL_SMTP_USER: ${DIRECTUS_EMAIL_SMTP_USER}
      # EMAIL_SMTP_PASSWORD: ${DIRECTUS_EMAIL_SMTP_PASSWORD}

  directus-db:
    image: postgis/postgis:15-3.4-alpine
    volumes:
      - directus-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: "directus"
      POSTGRES_PASSWORD: ${DIRECTUS_DB_PASSWORD}
      POSTGRES_DB: "directus"

  directus-cache:
    image: redis:6

  keycloak-db:
    image: postgres:15.4-alpine
    volumes:
      - keycloak-db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5

  keycloak:
    build:
      context: ./keycloak
      dockerfile: Dockerfile
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KEYCLOAK_FRONTEND_URL: ${KEYCLOAK_URL}
      KEYCLOAK_IMPORT: /tmp/collectivo-realm.json
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
      KC_DB_SCHEMA: public
      KC_DB_URL_DATABASE: "keycloak"
      KC_DB_URL_HOST: "keycloak-db"
      KC_DB_URL_PORT: 5432
      KC_HOSTNAME: ${KEYCLOAK_HOSTNAME}
    volumes:
      - ./keycloak/import:/opt/keycloak/data/import:ro
      - ./keycloak/export:/tmp/export
    command: start-dev --import-realm --health-enabled true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ready"]
      interval: 5s
      timeout: 5s
      retries: 20
    depends_on:
      - keycloak-db
    ports:
      - "8080:8080"

volumes:
  directus-db-data:
  keycloak-db-data:
