@font-face {
  font-family: "Urbanist";
  src:
    url("Urbanist-ExtraBoldItalic.woff2") format("woff2"),
    url("Urbanist-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src:
    url("Urbanist-BlackItalic.woff2") format("woff2"),
    url("Urbanist-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src:
    url("Urbanist-Bold.woff2") format("woff2"),
    url("Urbanist-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src:
    url("Urbanist-Black.woff2") format("woff2"),
    url("Urbanist-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src:
    url("Urbanist-ExtraBold.woff2") format("woff2"),
    url("Urbanist-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src:
    url("Urbanist-BoldItalic.woff2") format("woff2"),
    url("Urbanist-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src:
    url("Urbanist-ExtraLight.woff2") format("woff2"),
    url("Urbanist-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src:
    url("Urbanist-MediumItalic.woff2") format("woff2"),
    url("Urbanist-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src:
    url("Urbanist-Thin.woff2") format("woff2"),
    url("Urbanist-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src:
    url("Urbanist-ExtraLightItalic.woff2") format("woff2"),
    url("Urbanist-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src:
    url("Urbanist-Italic.woff2") format("woff2"),
    url("Urbanist-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src:
    url("Urbanist-LightItalic.woff2") format("woff2"),
    url("Urbanist-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src:
    url("Urbanist-Regular.woff2") format("woff2"),
    url("Urbanist-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src:
    url("Urbanist-ThinItalic.woff2") format("woff2"),
    url("Urbanist-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src:
    url("Urbanist-Light.woff2") format("woff2"),
    url("Urbanist-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src:
    url("Urbanist-SemiBold.woff2") format("woff2"),
    url("Urbanist-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src:
    url("Urbanist-SemiBoldItalic.woff2") format("woff2"),
    url("Urbanist-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src:
    url("Urbanist-Medium.woff2") format("woff2"),
    url("Urbanist-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
